body {
  font-family: "Libre Baskerville", sans-serif;
  margin: 0;
  background: #fafafa;
}

#title {
  margin: 2em;
}

#container {
  display: flex;
  margin: 2em;
}

#controls {
  width: 250px;
  margin-right: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#viz {
  flex-grow: 1;
  position: relative;
}

#movieCount {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1em; /* gives space below */
  margin-top: 0.5em;   /* optional space above */
}


label {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
}

#tooltip {
  position: fixed;
  z-index: 1000;
  pointer-events: none;
  display: none;
  background: rgba(0,0,0,0.85);
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 0.85em;
  max-width: 250px;
}

#controls {
  width: 250px;
  margin-right: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.6em; /* Keep spacing tight */
}

#controls,
#controls label,
#controls input,
#controls select,
#controls span {
  font-size: 1.01em; /* Increase font size */
}

#title h1 {
  font-size: 2.2em; /* Bigger title */
}

#title p {
  font-size: 1.15em; /* Bigger paragraph text */
}

#title svg {
  vertical-align: -0.01em;
  margin-right: 4px;
  width: 1.2em;
  height: 1.2em;
}



